@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Koulen&family=Oswald:wght@300&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #fff;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
    background-color: rgba(0,238,110);
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color: #fff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #00ee6ea1;
    display: grid;
    grid-template-columns: 150px auto;
    z-index: 1;
}
nav a:hover {
    background-color: #fff;
    color: blue;
}
.book, .join {
    background-color: rgb(4,126,255);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fff;
    color: rgb(4,126,255);
}
.msg {
    background-color: aqua;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px gray;
}
footer {
    background-color: rgb(4, 126, 255);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title, h4, .msg h2, .msg p {
    color: black;
}
footer h3 a {
    color: black;
    text-decoration: none;
}
footer h3 {
    color: #fff;
   
}
footer h3 a:hover {
    background-color: #fff;
    color: blue;
    text-decoration: underline;
}
.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
.msg h2{
    font-family: Koulen, Oswald, sans-serif;
}
.home-title {
    font-family: Koulen, Oswald, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg p {
    font-size: 1.8em;
    padding-bottom: 15px;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px gray;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.mountains {
    margin: 100px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px gray;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
/* the send page work started from here. It has not been easy to complete.*/
.book-link{
    background-color: #8338ec;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
    font-family: oswald, sans-serif;

}
.river-head {
    font-family: koulen, Tohoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.river-para {
    color: white;
    background-color: rgba(22, 67, 104, 0.729);
    font-family: Oswald, Akshar, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    
}
.backgd {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 67, 104, 0.59);
}
#idaho-river {
    font-family: Koulen, sans-serif;
    color:white;
    padding: 5px; 
    border-radius: 10px;
    margin: auto;
}
.river-imgs {
    border: 5px solid black;
}
#active {
    color: blue;
    text-decoration: underline;
}
#active-home {
    color: blue;
    text-decoration: underline;
}
#h4-para {
   font-family: Oswald, Akshar, sans-serif ;
   background-color: rgb(58,134,255,0.71);
   color: #fff;
   padding: 15px;
   margin-bottom: -1px;
}
#success {
    display: grid;
    grid-template-columns: 1fr;
    z-index: -1;
}
#success-img {
    width: 100%;
    height: 100%;
}
#success-info {
    color: #fff;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
#success-box {
    grid-column: 1/2;
    grid-row: 1/3;
}
#date {
    font-size: 1.2em;
}
#first-river {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
}
#first-b {
    grid-column: 1/2;
    grid-row: 1/4;
}
#first-info {
    grid-column: 1/2;
    grid-row: 1/3;
}
#linkbox1 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto;
}
#f-river-img {
    grid-column: 2/4;
    grid-row: 1/3;
}
#f-river-title {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 70px;
}
#f-p {
    grid-column: 2/4;
    grid-row: 3/4;
    padding: 10px;
}
#f-img {
    background-color: rgba(22, 67, 104, 0.59);
    width: 100%;
    height: 500px;
}
#second-river {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    margin-top: 70px;
}
#second-b {
    grid-column: 1/2;
    grid-row: 1/4;
}
#second-info {
    grid-column: 1/2;
    grid-row: 1/3;
}
#linkbox2 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto;
}
#s-river-img {
    grid-column: 2/4;
    grid-row: 1/3;
}
#s-river-title {
    grid-column: 2/3;
    grid-row: 2/3;
}
#s-p {
    grid-column: 2/4;
    grid-row: 3/4;
    padding: 10px;
}
#second-r-img {
    width: 100%;
    height: 100%;
}
#third-river {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    margin-top: 70px;
}
#third-b {
    grid-column: 1/2;
    grid-row: 1/4;
}
#third-info {
    grid-column: 1/2;
    grid-row: 1/3;
}
#linkbox3 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto;
}
#t-river-img {
    grid-column: 2/4;
    grid-row: 1/3;
}
#t-river-title {
    grid-column: 2/3;
    grid-row: 2/3;
}
#t-p {
    grid-column: 2/4;
    grid-row: 3/4;
}
#third-r-img {
    width: 100%;
    height: 100%;
}
.book-link:hover {
    background-color: black;
    color: yellow;
}
.info-head {
    background-color: aqua;
    padding: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}
#rivers {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    margin-top: 40px;
}
.rivers-option {
    padding: 20px;
    border: 10px solid white;
    border-radius: 10px;
    margin: 10px;
}
#inro-info {
    font-family: Akshar,Koulen,sans-serif;
    font-weight: bold;
    color: whitesmoke;
    padding: 20px;
    margin: auto;
    font-size: 1.5em;
    background-color: rgba(128, 128, 128, 0.582);
}
#inro-info:hover {
    background-color: black;
    opacity: .8;
    color: yellow;
}
.f-date, .f-price, .s-date, .s-price,
.t-date, .t-price {
    color: white;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}